# PayPal Configuration
PAYPAL_CLIENT_ID=AS3N5e6j5mD8MZwH8V2rJOru1tmZbQHcid1nob6gTAUdKDzPb1YnWSGXam1ZC7JIQdM3TQT2gY1YAzdf
PAYPAL_CLIENT_SECRET=EFWGpjDlX0vv2Q5494kQO1QTjqdzvW1FYvtf26JW_p_AnPmuZSnWJxXl2ryR6Mequ-rswCHsG8HFC1Gh
PAYPAL_MODE=sandbox

# Server Configuration
PORT=5000

# CORS (Add your React app URL)
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001
